<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #main{
            width: 670px;
            height: 446px;
            margin: 0 auto;
        }
        #thum ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        #thum ul li{
            float:left;
            margin-right: 2px;
        }
        #thum ul li a img{
            width: 105px;
            border: 2px solid #ccc;
        }
        .actived{
            border: 4px solid red !important;
        }
    </style>
</head>
<body>
   <div id="main">
    <div id="image">
        <img src="../images/img.jpg" alt="">
    </div>
    <div id="thum">
        <ul>
            <li><a href="#"><img src="../images/img2.jpg" alt="" class="actived"></a></li>
            <li><a href="#"><img src="../images/img2.jpg" alt=""></a></li>
            <li><a href="#"><img src="../images/img3.jpg" alt=""></a></li>
            <li><a href="#"><img src="../images/img4.jpg" alt=""></a></li>
            <li><a href="#"><img src="../images/img5.jpg" alt=""></a></li>
            <li><a href="#"><img src="../images/img2.jfif" alt=""></a></li>
        </ul>
    </div>
   </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#thum ul li a img").click(function () {
                var img = $(this).attr('src');
                $("#image img").attr('src', img);
                $("#thum ul li a img").removeClass('actived');
                $(this).addClass('actived');
            });
        });
    </script>
</body>
</html>